.hover{
    z-index: 2;
}
.nohover{
    z-index:1;
}

.box{
    border:2px solid green;
}
.box:hover{
    border:2px solid red;
    /* transform: translate(-50%, -50%); */
    z-index: 2;
}
